
.alert-red{
	background-color: rgb(240, 138, 138);
}

.alert-yellow{
	background-color: rgb(255, 255, 157);
}

.alert-orange{
	background-color: rgb(255, 199, 116);
}

.alert-gray{
	background-color: rgb(209, 209, 209);
}

.alert-white{
	background-color: rgb(255, 255, 216);
}

.alert-blue{
	background-color: rgb(199, 201, 253);
}

#content-table td{
	/*font-weight: bold;*/
	font-family: arial;
}

#content-table table{
	width: 90%;
	margin-left: 5%;
	background-color: white;
}

#content-table{
	text-align: center;
	width: 100%;
}


.recent{
	color: red;
}
