
.bandwith-table table{
	/*margin-top: 40px;*/
	margin-left: 15%;
	/*margin: auto;*/
	font-size: 35px;
	line-height: 50px;

}

.bandwith-table table td{
	padding-right: 15px;
}

.bandwidth-number{
	font-size: 100%;
	font-weight: bold;
}

#protocol-ip{
	margin-top: 30px;
}

.percent-chart-loader{
	margin: auto;
	font-size: 28px;
}

.server-stat-legend{
	text-align: center;
}

.server-stat-legend .span4{
	margin: auto;
}