#bandwidth div{
	display: inline-block;
}

#bandwidth-chart{
	height: 350px; 
	width:80%;
	/*margin: auto;*/
}

#protocol{
	margin-left: 5%;
}

#protocol div{
	height:250px;
	width: 45%;
	display: inline-block;
}



#server-stat div{
	display: inline-block;
	text-align: center;
	margin:auto;
	width: 33%;
}

#server-stat div div{
	display: block;
}

.percent-chart-loader{
	padding-top: 0px !important;
}