/*
@font-face {
font-family: Champ;
src: url(/res/font/Champagne.ttf) format('truetype');
}*/

@font-face {
	font-family: 'Champ';
	src: url('res/font/champagne__limousines-webfont.eot');
	src: url('res/font/champagne__limousines-webfont.eot?#iefix') format('embedded-opentype'),
	
	url('res/font/champagne__limousines-webfont.woff') format('woff'),

	url('res/font/champagne__limousines-webfont.svg#champagne__limousinesregular') format('svg');

	font-weight: normal;
	font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Champ';
        src: url('res/font/champagne__limousines-webfont.svg#champagne__limousinesregular') format('svg');

    }
}

@font-face {
	font-family: 'ChampWoff';
	src: url('res/font/champagne__limousines-webfont.woff') format('woff');

	font-weight: normal;
	font-style: normal;

}



body {
	overflow: hidden;
	background-color: #ccc;
	/*background-color: white;*/
	font-family: Champ;
	/*font-weight: bold;*/
}

canvas{
	background-color: rgba(0,0,0,0.0) !important;
}

h1{
	font-weight: normal;
	font-size: 45px;
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px;
}

.alert {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
	margin: 8px 35px 8px 14px;
	border-radius: 4px;
	border: 1px solid #fbeed5;
}

a{
	color: black;
}

h2{
	text-align: center;
}

li{
	font-size: 25px;
	list-style: none;
}


.frame{
	text-align: center;
	background-color: white;
	border-radius: 15px;
	width: 80%;
	margin: auto;
	background-image: url('../res/img/logo_transparent.png');
	background-repeat: no-repeat;
	background-position:center; 
}

.frame h2{

	font-size: 45px;
	padding: 45px;
	line-height: 50px;
}

.frame h2 strong{
	color: #599B1B;
	font-weight: bold;
}

.frame div{
	margin-top: 150px;
	font-size: 35px;
}

.frame a{
	color: blue;
}