.tutorial{
	background-color: white;
	margin: 5% 10%;
	width: 80%;
	height: 70%;
	border-radius: 20px;
	font-size: 30px;
	text-align: center;
}

h2{
	padding-top: 50px;
	font-size: 100px;
	color: #9ECA00;
}

.instructions{
	margin: 20px;
	margin-top: 5%;
}

.instructions strong{
	font-size: 45px;
}

#logoNDOP{
	width: 20%;
	margin: auto;
}

.tutorial a{
	color: #45A2AE;
	font-size: 45px;
}